.live-clock-container {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;

    .live-clock {
        max-width: 800px;
        display: flex;
        color: #fff;
        font-weight: 700;
        font-size: 6rem;

        @media (max-width: 976px) {
            font-size: 5rem;
        }

        @media (max-width: 768px) {
            font-size: 3.5rem;
        }

        @media (max-width: 360px) {
            font-size: 3rem;
        }

    }

    .live-clock-part {
        margin: 0 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1200px) {
            margin: 0 3vw;
        }
    }

    .clock-label {
        font-size: 1.5rem;
        font-weight: 500;

        @media (max-width: 976px) {
            font-size: 1.25rem;
        }

        @media (max-width: 768px) {
            font-size: 0.875rem;
        }
    }
}
